<%- include('../inc/header') %>

    <div class="container mt-5" style="min-height: 100vh;">
        <div class="row">
            <div class="col-md-12">

                <h1 class="border-bottom" style=" margin-top: 70px;">
                    <%= title %>
                </h1>

                <div class="d-flex justify-content-end my-3">
                    <form class="row row-cols-lg-auto g-3 align-items-center" method="GET" action="/category">
                        <div class="col-12">
                            <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                    placeholder="Username" name="name">
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary ms-3" data-toggle="modal"
                        data-target="#addProductModal">
                        Add Category
                    </button>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered border-top" id="productTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dữ liệu sẽ được load ở đây -->
                            <% data.forEach(function(element, index) { %>
                                <tr>
                                    <td>
                                        <%= element._id %>
                                    </td>
                                    <td>
                                        <%= element.name %>
                                    </td>
                                    <td class="dt-center">
                                        <a href="/category/edit/<%= element._id %>" type="button"
                                            class="btn btn-sm btn-info edit-btn">
                                            <i class="fas fa-edit"></i>
                                            Edit
                                        </a>
                                        <button type="button" class="btn btn-sm btn-danger delete-btn"
                                            data-id="<%= element._id %>">
                                            <i class="fas fa-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <nav class="mt-4">
                    <ul class="pagination justify-content-end">
                        <li class="page-item <%= currentPage - 1 == 0? ' disabled':''; %>"><a class="page-link"
                                href="/category?page=<%= currentPage-1 %>"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <% for (let index=0; index < pageCount; index++) { let active=currentPage==index+1 ? ' active'
                            : '' ; %>
                            <li class="page-item <%= active %>">
                                <a class="page-link" href="/category?page=<%= index+1 %>">
                                    <%= index+1 %>
                                </a>
                            </li>
                            <% } %>
                                <li class="page-item <%= currentPage == pageCount? ' disabled':''; %>"><a
                                        class="page-link" href="/category?page=<%= currentPage+1 %>"><span
                                            aria-hidden="true">&raquo;</span></a>
                                </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <%- include('../inc/footer') %>

        <!-- Modal nhập sản phẩm -->
        <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form nhập thông tin sản phẩm mới -->
                        <form class="row g-3" method="POST" action="/category/create">
                            <div class="col-12">
                                <label for="inputName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="inputName" name="name" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Link các script của datatable và bootstrap -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
        <!-- Script để load dữ liệu sản phẩm và xử lý sự kiện khi click vào nút sửa hoặc xóa -->
        <script>



            const deleteAccount = async (id) => {
                try {
                    const response = await fetch(`/category/delete/${id}`, {
                        method: 'DELETE',
                    });

                    const data = await response.json();

                    if (response.ok) {
                        // Xóa tài khoản thành công
                        console.log(data.message);
                        location.reload();
                    } else {
                        // Xóa tài khoản thất bại
                        console.log('Delete account failed');
                    }
                } catch (error) {
                    console.log(error.message);
                }
            };

            const deleteBtns = document.querySelectorAll('.delete-btn');

            deleteBtns.forEach((btn) => {
                btn.addEventListener('click', (event) => {
                    const accountId = event.target.dataset.id;
                    const confirmDelete = confirm('Are you sure to delete this account?');

                    if (confirmDelete) {
                        deleteAccount(accountId);
                    }
                });
            });

        </script>